*{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif

}

.bgimg{
    width: 100;
    height: 100vh;
    background-image: linear-gradient(27deg,#004e95 50%, #013a6b 50%);
}

.centerdiv{
    width: 350px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: red;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(27deg,#013a6b 50%, #004e95 50%);
    box-shadow: 0.1px 6px rgba(0, 0, 0,0,),0.1px 4px rgba(0, 0, 0, 0.24)
}
#profilepic{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    top: -60px;
    left: calc((350px - 120px) / 2);
}
h2{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    word-spacing: 10px;
    margin-top: -50px;
    margin-bottom: 50px;
    text-shadow: -2px 2px 1px #0a84c6;
}

.inputbox{
    width: calc(100% - 40px);
    height: 30px;
    display: block;
    margin: auto;
    padding: 0 10px;
    box-sizing: border-box;
}
::placeholder{
    letter-spacing: 2px;
    color: black;

}

button{
    width: calc(100% - 40px);
    height: 30px;
    display: block;
    margin: auto;
    color: white;
    background-color: #0a84c6;
    border: none;
}

.forgot-sections{
    width: calc(100% - 40px);
    line-height: 30px;
    display: block;
    margin: auto;
    color: white;
    background-color: dodgerblue;
    text-transform: uppercase;
    font-size: 0.8em;
    text-align: right;
    padding-right: 20px;
    box-sizing: border-box;

}
